a {
    filter: grayscale(1);
}
a:hover {
    filter: none;
    transition: 1s;
    position: sticky;
}
h2:hover {
    background-color: red;
    color: white;
    width: 300px;
    transition: 1s;
}
ul{
    list-style: none;
}
iframe{
    float: right;
    margin-right: 30%;
    position: fixed;
}